useDynLib(abcboost)
import(Matrix)
export("abcboost_train")
export("abcboost_test")
export("abcboost_predict")
export("abcboost_save_model")
export("abcboost_load_model")
export("abcboost_read_libsvm")
